.cardsActive #help {
  padding-right: 60px;
  transition: ease all 1s;
}

.btnActivo {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.btnActivo p {
  margin: 0;
  color: #f0f8ff;
  font-family: arial;
  font-weight: 300;
  font-size: 80%;
}

.btnActivo .boxOpcoes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.cardsActive #help.expandida {
  width: 50%;
  height: fit-content;
  position: absolute;
  bottom: 1px;
  box-shadow: 1px 0px 10px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 60px;
}
