.tela {
  width: 80%;
  height: 98%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  top: -25px;
  position: absolute;
  transition: all ease 1s;
}

.espacoEscuro {
  background-color: rgba(0, 0, 0, 0.363);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  display: none;
}

.tela .cardsActive {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 5px;
  background: url(../../img/cardActive_fundo.png);
  background-size: 100%;
  gap: 4%;
}

.tela .cardsActive p {
  margin: 0;
  text-align: center;
  color: aliceblue;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-family: arial;
  font-size: 80%;
}

.tela .cardsActive h1 {
  margin: 0;
  text-align: center;
  color: aliceblue;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  width: 70%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.tela .cardsActive textarea {
  border: 2px #ae0f0a solid;
  border-radius: 10px;
  padding: 10px;
}
