.esquerda {
  grid-area: esquerda;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#card1 {
  margin-bottom: 25px;
  margin-left: 70px;

  height: fit-content;
  width: fit-content;
}

#card2 {
  margin-left: 35px;

  height: fit-content;
  width: fit-content;
}
#card3 {
  margin-left: 60px;
  margin-top: 30px;

  height: fit-content;
  width: fit-content;
}
#card4 {
  margin-left: 70px;
  margin-bottom: 30px;

  height: fit-content;
  width: fit-content;
}
