section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100%;
}

.boxCards {
  width: 100%;
  height: 100%;
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas:
    "esquerda meio direita"
    "esquerda estrela direita"
    "esquerda estrela button";
  gap: 10px;
}
