.box img {
  width: 18vh;
}

.box .setaDireita {
  transform: scaleX(-1);
}
.box .setaDireitaAbaixo {
  transform: scaleX(-1) scaleY(-1);
}
.box .setaEsquerdaAbaixo {
  transform: scaleX(-1) scaleY(-1);
}
.box .dadosTitulo p {
  margin: 0;
  padding: 0;
  width: fit-content;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box .dadosTitulo {
  display: flex;
  gap: 10%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
