@media print {
  p {
    font-size: 24pt;
         max-width: 200px; /* ajuste o tamanho */
  overflow-wrap: break-word;
  }

  strong{
    font-size: 24pt;

  }

  .logoPersona{
    height: 5vh;
  }

  span{
    font-size: 22pt;
  }

  button {
    display: none;
  }

  .mapaMental {
    transform: scale(0.7);
  }

  .imagemEstrela {
    position: relative;
    left: 10%;
    top: 6%;
  }

  .imagemEstrela .fundo {
    width: 160%;
    height: auto;
  }

  .imagemEstrela .persona {
    top: 5%;
    width: 150%;
    height: auto;
    right: -15%;
    
  }

  .salarioEcat {
    gap: 20px;
  }
}

@page {
  size: A3 Landscape;
  margin: 0;
  padding: 10mm;
}
