@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Inconsolata:wght@200..900&family=Parkinsans:wght@300..800&family=Permanent+Marker&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Permanent+Marker&display=swap");

.formulario {
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 20px;
  background-image: url("../../img/imgForms.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formulario h2 {
  font-size: 40px;
  margin-bottom: 20px;
  font-family: monospace;
  font-weight: bold;
}

.formulario .azul {
  color: #0029ff;
  font-weight: bold;
}

.formulario p {
  color: #444;
  margin-bottom: 30px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 20px;
  width: 500px;
  text-align: center;
}

.formulario label {
  color: #111;
}

form {
  display: flex;
  flex-direction: column;
  height: 400px;
  gap: 15px;
  border: 2px solid #ccc;
  border-radius: 15px;
  padding: 30px;
  background-color: aliceblue;
  align-items: center;
  justify-content: center;
}

.linha {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input-box {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  align-items: first baseline;
  text-align: left;
  padding: 10px;
}

.input-box label {
  color: #363636;
}

input,
select {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  width: 100%;
  font-size: 16px;
  background-color: aliceblue;
}

.buttonCriarPersona {
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 30px;
  width: 80%;
}

.botao-criar {
  background-color: #a00;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.botao-criar:hover {
  background-color: #0029ff;
}
